## 1. In the below elements which of them are values or an expression? eg:- values can beinteger or string and expressions will be mathematical operators.

In [4]:
123*123 # multiply of 2 no

15129

In [6]:
2+2 # sum of 2 no

4

In [7]:
2-4 # subtrac of 2 n0

-2

In [9]:
4/2 # divide of 2 no

2.0

In [11]:
type('hello') # its a string ' '

str

In [12]:
type(9) # int value

int

In [15]:
type(-85.5) # float values

float

## What is the difference between string and variable?

In [22]:
## in string , we use "" sign  &       in variable contain only alphabetic
#example:                              #  we cant contain  ^ % $ ! @ # ^ & * ( ) special charaters
 #       print('pratik') = str          # it's not a strict rule that you should variable names with a Captital letter
                                       #   eaxmple : 
                                        #            variable=10 ,__variable=10, variable25=10

## 3. Describe three different data types.

In [ ]:
there are many types of datatypes int, float,str,boolen,list,tuple,set,dictionay etc

Data type is an important concept.
Variables can store data of different types, and different types can do different things in datatype
we discuss int , float , str
int = in int datatype there are only numerical nos
in this the value should not in float value
example:- int=10 --- type(int)

float= in float datatype there only in numericals nos but contain the 25.5 measn its not a fix value 
in float the value should be in int
example :- float=25.5  ---- type(float)

str = in this there are only in form of charaters like , name ,place etc
in the str is  in also in senence form
example= str='pratik'-----type(str)

## 4. What is an expression made up of? What do all expressions do?

In [24]:
there r many expression 

1.(+)--x + y------------Addition

2.(–)--x – y---------------Subtraction

3.(*)--x * y-----------Multiplication

4.(/)--x / y----------Division

5.(//)--x // y----------Quotient

6.(%)--x % y----------Remainder

7.(**)--x ** y---------Exponentiation

SyntaxError: invalid syntax (3232373519.py, line 1)

## 5. This assignment statements, like spam = 10. What is the difference between anexpression and a statement?

In [ ]:
expression are in special characters
+,-,*,**,/,//

In [ ]:
statements are is an spam = 10(=)is statement
print() = is an statement
spam= ,= is an statement
return 
pass
etc

In [25]:
print(2*2) ## we add both statement and expression

4

## 6. After running the following code, what does the variable bacon contain?

In [26]:
bacon = 22
bacon + 1

23

## 7. What should the values of the following two terms be?

In [31]:
'spam' +'spamspam'
'spam'*3

'spamspamspam'

In [30]:
'spam'*3

'spamspamspam'

## 8. Why is eggs a valid variable name while 100 is invalid?

In [32]:
egg=10

In [33]:
egg

10

In [34]:
100=10

SyntaxError: cannot assign to literal (1420227245.py, line 1)

In [ ]:
from seeing these example we clear that variable contain the character

## 10. Why does this expression cause an error? How can you fix it?

In [39]:
'I have eaten'  +   99 +  'burritos'

TypeError: can only concatenate str (not "int") to str

In [44]:
'I have eaten'  +   '99'   +  'burritos.'

'I have eaten99burritos.'

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?